*{
	padding: 0px;
	margin: 0px;
}
body{
font-family: :  Helvetica, sans-serif;
}
.navbar{
	margin-bottom: 0px !important;
	border-radius: 0px !important;
}
.navbar-header > .navbar-brand{
	color: yellow;
}
.navbar-inverse, .navbar-collapse {
	border: 0px;

}
.navbar-collapse > .navbar-nav > li > a{
	color: #47D1D1;
}
.navbar-collapse > .navbar-nav > li > a:hover{
	box-shadow:0 0 15px 5px MediumTurquoise inset; 
	color: wheat;
}
.rule{
	background: linear-gradient(90deg, teal, skyblue);
	height: 3px; 
	width: 100%;
}

.slider-wrapper { 
	width: 90%; 
	margin: auto;
}
.clear {
	clear:both;
}
.container{
	width: 94%;
}
h3{
	color: teal;
}
.banner-top{
	display: block;
	border-radius: 80px 0px 0px 0px;
   background: #F2F2F2;
}
.banner-top:hover{ 
  text-shadow: 0 0 3px aqua;
 
}
.banner-top img{ 
	float: left;
	clear: left;
	border-radius: 50%;
   width: 66px;
   height: 66px;
}
.banner-top img:hover{ }

.banner-top h3{
	padding-left: 80px;
	

}
.banner-text{
	padding: 15px;
	background: #F2F2F2;
}
.banner-text button{
	color: teal;
}
#newbox{
	background: #F0F0F0;
}
.ticker{
	height: 400px;
	overflow: hidden;
	background: smokewhite;
}
#ticker_02{
	height: 280px;
}
.ticker li{
	padding-top: 5px;
	border: 1px dotted #ddd;
	list-style: none;
	text-decoration: none;
}
.ticker li h4{
	padding-left: 80px;
	color: DeepSkyBlue;

}
.ticker li img{
	float: left;
	clear: left;
	padding-left: 4px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
 
}
.col-sm-6 button{
	width: 100px;
	height: 30px;
	background-color: smokewhite;
	color: darkslategray;

} 
 
.caption-style-1 {
	list-style-type: none;
}
.caption-style-1 li {
	float: left;
	padding: 0px;
	position: relative;
	overflow: hidden;
}
.caption-style-1 li:hover .caption {
	opacity: 1;
}
.caption-style-1 img {
	height: 100px;
	width: 120px;
	padding: 5px;
	float: left;
	z-index: 4;
}
.caption-style-1 .caption {
	cursor: pointer;
	position: absolute;
	opacity: 0;
	-webkit-transition: all 0.45s ease-in-out;
	-moz-transition: all 0.45s ease-in-out;
	-o-transition: all 0.45s ease-in-out;
	-ms-transition: all 0.45s ease-in-out;
	transition: all 0.45s ease-in-out;
}
.caption-style-1 .blur {
	background-color: rgba(0,0,0,0.40);
	height: 100px;
	width: 120px;
	z-index: 5;
	position: absolute;
}
.caption-style-1 .caption-text h5 {
	font-size: 20px;
}
.caption-style-1 .caption-text {
	z-index: 10;
	color: #fff;
	position: absolute;
	height: 100px;
	 width: 120px;
	text-align: center;
 	top: 50px; 
}



footer .col-sm-3 h5{
	color: teal;
	font-weight: 600;
}

footer .col-sm-3 li{
	list-style: none;
	
}
footer .col-sm-3 li a{
	text-decoration: none;
	color:teal;
}
footer .col-sm-3 li a:hover{
	color: gray;
}
#social{
	padding: 2px ; 
}
#recent li{
 padding-bottom:5px;
 color: teal;
}

#copyright{
	text-align: center;
}
#copyright a:hover{
 color:#F93;
}
